 .pestanaBtn{ 
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:16px;
	padding:10px 49px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1f361b;
        
}
.pestanaBtn:hover {
	background-color:black;
    color: white;
}
.cuadroSt{
    border:1px solid black;
    width:500px;
    height: 150px;
}